@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #f5f5f5;
}

.navbar {
  @apply bg-[#f5f5f5]
  md:flex
  md:justify-between
  md:items-center;
}

.logoNav {
  @apply pt-6 
  w-max
  z-20
  md:w-[240px]
  md:ml-0
  md:absolute
  md:pt-2
  lg:w-[300px]
  lg:pl-4;
}

.ion-icon {
  @apply text-[70px]
  text-[#F9B3BC]
  w-[90px]
  h-[90px]
  mt-6
  bg-[#E92267]
  flex
  items-center
  justify-center
  md:hidden;
}

.containerLogoMenu {
  @apply flex
  justify-between
  items-center
  w-[767px]
  pr-20
  pl-6
  pt-0
  md:w-[240px]
  md:pl-2
  lg:w-[300px];
}

.menu {
  @apply text-[#E92267]
absolute
  pr-8
  bg-[#f5f5f5]
  py-7
  pl-7
  w-[768px]
  h-[480px]
  transition-all
  ease-in
  ml-0
  md:h-24
  md:pt-6
  md:flex
  md:items-center
  md:justify-end
  md:z-auto
  md:static
  md:opacity-100
  md:w-[724px]
  lg:pr-[40px];
}

.li-navbar {
  @apply ml-6
  my-3
  py-4
  text-4xl
  font-poppins
  font-normal
  md:text-[18px]
  md:ml-0
  md:px-[6px]
  lg:text-[20px]
  lg:px-[6px];
}

.header {
  @apply bg-[url("./imagens/background_header.jpg")]
  w-[767px]
  h-[400px]
  bg-cover
  bg-center
  mt-6
  flex
  items-center
  md:mt-2
  lg:w-[1350px]
  lg:h-[600px];
}

.span-header {
  @apply text-[#E92267]
  font-poppins
  text-[40px]
  leading-[40px]
  pl-6
  lg:text-[60px]
  lg:pl-24
  lg:leading-[60px];
}

.h1 {
  @apply text-[39px]
  font-poppins
  leading-[50px]
  text-[#E92267]
  pl-6
  font-bold
  lg:text-[58px]
  lg:pl-24
  lg:leading-[80px];
}

h1 ::before {
  content: "OBESIDADE INFANTIL ";
  animation: animate infinite 8s;
}

@keyframes animate {
  25% {
    content: "DIABETES TIPO 1";
  }
  50% {
    content: "PUBERDADE PRECOCE";
  }
  75% {
    content: "DISTÚRBIOS DO CRESCIMENTO";
  }
}

.div-cta {
  @apply h-[150px]
  w-[767px]
  bg-[#E92267]
  flex
  flex-col
  justify-center
  items-center
  lg:w-[1350px]
  lg:h-[175px];
}

.h2 {
  @apply text-6xl
text-[#E92267]
font-poppins
font-semibold;
}

.div-transicao-right {
  @apply flex
  flex-col
  items-end
  w-[767px]
  mt-16
  lg:w-[1280px];
}

.div-transicao-left {
  @apply flex
  flex-col
  items-start
  w-[767px]
  mt-16
  lg:w-[1280px];
}

.div-line {
  @apply w-[650px]
  h-[4px]
  bg-[#E92267]
  mr-[125px]
  mt-1
  lg:w-[1200px];
}

.sobre-mim-mobile {
  @apply mt-12
  w-[767px]
  h-[1350px]
  flex
  flex-col
  items-center
  md:w-full
  md:h-[500px]
  md:flex
  md:flex-row
  md:justify-center
  md:mt-0
  lg:w-full
  lg:h-[600px];
}

.foto-perfil-mobile {
  @apply md:hidden
  w-[400px]
  h-[400px];
}

.texto-sobre-mim {
  @apply border-solid
border-[#E92267]
border-[4px]
rounded-[40px]
w-[600px]
h-[1025px]
mt-[300px]
absolute
flex
justify-center
items-center
md:relative
z-[-1]
md:mt-0
md:border-none
md:w-[300px]
md:h-[400px]
lg:w-[400px]
lg:h-[500px];
}

.paragrafo-sobre-mim {
  @apply pt-[120px]
font-poppins
font-medium
text-[#E92267]
text-[25px]
text-center
md:text-left
md:text-[12px]
md:pt-0
lg:text-[14px];
}

.div-insta {
  @apply h-[150px]
  w-[767px]
  bg-[#E92267]
  flex
  justify-center
  items-center
  lg:w-[1350px]
  lg:h-[175px];
}

.btn {
  @apply border-solid
border-[#E92267]
border-[3px]
rounded-[50px]
font-poppins
font-semibold
text-[28px]
text-[#E92267];
}

.div-tratamentos {
  @apply mt-16
flex
flex-col
justify-center
items-center
w-[767px];
}

.div-cabecalho {
  @apply w-[75%]
h-[100px]
bg-white
rounded-t-[100px]
border-[6px]
border-solid
border-b-0
border-[#E92267]
text-center
flex justify-center
items-center;
}

.div-corpo {
  @apply w-[75%]
h-[500px]
bg-[#E92267]
rounded-b-[100px]
shadow-lg;
}

.div-contato {
  @apply w-full h-[60px]
  flex
  justify-start
  items-center
  pl-[60px];
}

.li-footer {
  @apply font-poppins
font-semibold
text-[30px]
text-[#f5f5f5]
py-1;
}
